body {
  background-color: lightgray;
  font-family: sans-serif;
}
nav {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

nav a:hover{
  background-color: darkgray;
  color: black;
}

article {
  display: none;
}

article:target {
  display: initial;
}
header, nav, main {
  padding-left: 3%;
}
